.App-header {
    background-color: #62401c;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
}
.admin-content {
    position: relative;
    color: white;
    text-align: center;
}

.App-header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}
.booking-info, .customer-info {
    background-color: #3C3C3C70;
    padding: 10px;
    border: 1px solid #3C3C3C;
    border-radius: 12px;
    margin: 10px 0px;
}
.booking-info p, .customer-info p{
    color: white;
}
.formContainer {
    background-color: #3C3C3C70;
    position: relative;
    width: 80%;
    left: 10%;
    padding: 10px;
    border: 1px solid #3C3C3C;
    border-radius: 12px;
    margin: 10px 0px;
}
.updateContainer {
    background-color: #F3F3F3;
    position: relative;
    width: 80%;
    left: 10%;
    padding: 10px;
    border: 1px solid #3C3C3C;
    border-radius: 12px;
    margin: 10px 0px;
}

label {
    padding: 5px 10px;
}

input {
    font-family: "Poppins", sans-serif;
    color: #3C3C3C;
    margin: 5px 10px;
    padding: 2px;
}

select {
    font-family: "Poppins", sans-serif;
    color: #3C3C3C;
    margin: 5px 10px;
    padding: 2px;
}

.freeTime div p {
    color: white;
}

/* Desktop view
--------------------------*/
@media screen and (min-width: 481px) {
   
    .admin-content {
        max-width: 40%;
        left: 30%;
    }
}