/* General
--------------------------*/
h2, h3, h4, p {
    font-family: "Poppins", sans-serif;
    color: #3C3C3C;
}

/* Start image
--------------------------*/
.image-container {
    background-image: url("../../assets/glas.svg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

/* About section
--------------------------*/
.about-zias {
    text-align: center;
    position: relative;
    height: 20%;
    max-width: 100%;
    background-color: #0e0a07;
    padding: 20px;
}

.about-zias h2 {
    text-transform: uppercase;
    color: white;
}

.about-zias p {
    color: white;
}

.span-line {
    position: relative;
    display: block;
    border-top: 4px solid #E2A749;
    width: 30%;
    left: 35%;
    margin: 20px 0px;
}

/* Booking info + opening hours
--------------------------*/
.contact-info{
    text-align: center;
    position: relative;
    height: 20%;
    max-width: 100%;
    padding: 20px;
}
.fa-phone {
    color: #E2A749;
}
.opening-hours {
    position: relative;
    height: 20%;
    max-width: 100%;
    padding: 20px;
    background-color: #F3F3F3;
}
table {
    margin: 0;
    position: relative;
    height: 20%;
    width: 50%;
    left: 25%;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}
.opening-day {
    padding: 2px 8px;
}
.opening-hour {
    padding: 2px 8px;
    font-weight: 500;
}

/* Restaurant menu
--------------------------*/
.menu-content {
    position: relative;
    max-width: 80%;
    left: 10%;
    text-align: center;
    padding: 20px 0;
}

.menu-content h2 {
    text-transform: uppercase;
}

.course-title {
    margin-bottom: 0;
}

.price {
    margin-top: 0;
}

.map {
    width: 100%;
    height: auto;
}

/* Footer
--------------------------*/
.footer {
    background-color: #3C3C3C;
    text-align: center;
    padding: 10px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer p {
    color: white;
    margin: 0;
}

.fa-location-dot {
    color: #E2A749;
}

/* Desktop view
--------------------------*/
@media screen and (min-width: 481px) {
    
    .about-zias {
        background-color: white;
    }
    .about-content {
        position: relative;
        max-width: 40%;
        left: 30%;
    }
    .about-content h2, .about-content p{
        color: #3C3C3C;
    }

    .flexbox-container {
        background-color: #F3F3F3;
        display: flex;
        justify-content: center;
    }
    table {
        left: 0;
        padding: 15px;
    }

    .menu-content {
        max-width: 50%;
        left: 25%;
    }
    .menu-flexbox {
        display: flex;
        justify-content: space-around;
    }
    .menu-course {
        text-align: left;
        max-width: 50%;
        margin: 0 0 5px 0;
    }
    .menu-course h4 {
        display: inline-block;
    }
    .price {
        text-align: right;
        max-width: 50%;
    }
}